doctype html
html(lang="ja")
  head
    block title
      title Default title
    meta(charset='UTF-8')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src="js/main.js")
  body
    .ly-wrapper
      include _header
      .ly-contents
        block content
      footer.ly-footer
        ul
         li
          a(href="FIXME") 支払い方法について
         li
          a(href="FIXME") 配送・送料について
         li
          a(href="FIXME") 返品について
         li
          a(href="FIXME") 特定商取引法に基づく表記
         li
          a(href="FIXME") プライバシーポリシー
        small
          a(href="FIXME") #[span ©]candle VENT.
