extends _layout/_default
block title
  title ここにタイトル
block content
  h1.ttl-01-lv01
    |ABOUT
  .alignC
    iframe(width="640", height="360", src="https://www.youtube.com/embed/OAy5wGPQXi4", frameborder="0", allowfullscreen).alignC
  p.aboutArea.alignC
    |その瞬間を逃してしまったら、二度と手に入れることができないチャンスのように、
    br
    |無限の可能性とサプライズに満ちた、ハッピーでスリリングな香り。
    br
    br
    |その瞬間を逃してしまったら、二度と手に入れることができないチャンスのように、
    br
    |無限の可能性とサプライズに満ちた、ハッピーでスリリングな香り。
    br
    br
    |その瞬間を逃してしまったら、二度と手に入れることができないチャンスのように、
    br
    |無限の可能性とサプライズに満ちた、ハッピーでスリリングな香り。
  br
  br
  br
  br
  br
  br
  br
  br
  h1.ttl-01-lv01
    |FAQ
  h3.ttl-03-lv01
    |注文してからどのくらいで商品が届きますか？
  p.answerArea
    |その瞬間を逃してしまったら、二度と手に入れることができないチャンスのように、
    br
    |無限の可能性とサプライズに満ちた、ハッピーでスリリングな香り。
  h3.ttl-03-lv01
    |注文してからどのくらいで商品が届きますか？
  p.answerArea
    |その瞬間を逃してしまったら、二度と手に入れることができないチャンスのように、
    br
    |無限の可能性とサプライズに満ちた、ハッピーでスリリングな香り。
  h3.ttl-03-lv01
    |注文してからどのくらいで商品が届きますか？
  p.answerArea
    |その瞬間を逃してしまったら、二度と手に入れることができないチャンスのように、
    br
    |無限の可能性とサプライズに満ちた、ハッピーでスリリングな香り。
  h3.ttl-03-lv01
    |注文してからどのくらいで商品が届きますか？
  p.answerArea
    |その瞬間を逃してしまったら、二度と手に入れることができないチャンスのように、
    br
    |無限の可能性とサプライズに満ちた、ハッピーでスリリングな香り。










