extends _layout/_full
block title
  title ここにタイトル
block content
  .slideArea
    ul.main.mtb0#main
      li
        a(href="FIXME")
          img(src="http://placekitten.com/333/333", alt="candle vent", width="400", height="400")
      li
        a(href="FIXME")
          img(src="http://placekitten.com/336/336", alt="candle vent", width="400", height="400")
      li
        a(href="FIXME")
          img(src="http://placekitten.com/339/339", alt="candle vent", width="400", height="400")
      li
        a(href="FIXME")
          img(src="http://placekitten.com/342/342", alt="candle vent", width="400", height="400")
    ul.list-img-01.mtb10#photos_here
      li
        a(href="FIXME")
          img(src="http://placekitten.com/333/333", alt="candle vent", width="110", height="110")
      li
        a(href="FIXME")
          img(src="http://placekitten.com/336/336", alt="candle vent", width="110", height="110")
      li
        a(href="FIXME")
          img(src="http://placekitten.com/339/339", alt="candle vent", width="110", height="110")
      li
        a(href="FIXME")
          img(src="http://placekitten.com/342/342", alt="candle vent", width="110", height="110")

