extends _layout/_default
block title
  title ここにタイトル
block content
  .ly-column
    .ly-left-column
      .mb10
        img(src="http://placekitten.com/470/470", alt="candle vent", width="470", height="470")
      ul.list-img-01.mt10
        li
          a(href="FIXME")
            img(src="http://placekitten.com/111/111", alt="candle vent", width="110", height="110")
        li
          a(href="FIXME")
            img(src="http://placekitten.com/112/112", alt="candle vent", width="110", height="110")
        li
          a(href="FIXME")
            img(src="http://placekitten.com/113/113", alt="candle vent", width="110", height="110")
        li
          a(href="FIXME")
            img(src="http://placekitten.com/114/114", alt="candle vent", width="110", height="110")
    .ly-right-column
      h1.ttl-04-lv01.mt10.pt5
        |X’mas santa boots candle
      p.priceArea
        |¥ 25,000 (+tax)
      p
        |その瞬間を逃してしまったら、二度と手に入れることができないチャンスのように、無限の可能性とサプライズに満ちた、ハッピーでスリリングな香り。
        br
        |その瞬間を逃してしまったら、二度と手に入れることができないチャンスのように、無限の可能性とサプライズに満ちた、ハッピーでスリリングな香り。
        br
        |その瞬間を逃してしまったら、二度と手に入れることができないチャンスのように、無限の可能性とサプライズに満ちた、ハッピーでスリリングな香り。
        br
        |その瞬間を逃してしまったら、二度と手に入れることができないチャンスのように、無限の可能性とサプライズに満ちた、ハッピーでスリリングな香り。
        br
      .skuArea
        ul
          li.quantity
            |購入数
            input(type="text", name="FIXME", value="hogehoge")
          li.status
            |在庫状況　
            |#[span △]
        input(type="submit",name="FIXME", value="カートに入れる")
      ul.list-02
        li
           a(href="FIXME") この商品を友達に教える
        li
           a(href="FIXME") この商品について問い合わせる
        li
           a(href="FIXME") 買物を続ける