extends _layout/_default
block title
  title ここにタイトル
block content
  h1.ttl-01-lv01
    |LINEUP
  ul.list-img-02
    li
      a(href="itemDetail.html")
        img(src="http://placekitten.com/342/342", alt="candle vent", width="300", height="300")
        p
          |X'mas santa boots candle
          br
          |¥ 15,000(+tax)
    li
      a(href="itemDetail.html")
        img(src="http://placekitten.com/341/341", alt="candle vent", width="300", height="300")
        p
          |X'mas santa boots candle
          br
          |¥ 15,000(+tax)
    li
      a(href="itemDetail.html")
        img(src="http://placekitten.com/346/346", alt="candle vent", width="300", height="300")
        p
          |X'mas santa boots candle
          br
          |¥ 15,000(+tax)
    li
      a(href="itemDetail.html")
        img(src="http://placekitten.com/339/339", alt="candle vent", width="300", height="300")
        p
          |X'mas santa boots candle
          br
          |¥ 15,000(+tax)
    li
      a(href="itemDetail.html")
        img(src="http://placekitten.com/338/338", alt="candle vent", width="300", height="300")
        p
          |X'mas santa boots candle
          br
          |¥ 15,000(+tax)