@charset "UTF-8"

$color : #a7943e;

$fontcolor01 : #ffffff;

$fontcolor02 : #d0cec5;

$bordercolor01 : $color;

$bordercolor02 : #655e37;

$bgcolor01 : #211e0c;

$bgcolor02 : #B1B2B2;

$radius : 3px;
