@charset "UTF-8"



/* Information
-------------------------------------------------------------------------------

  Name:        Candle vent
  Description: Candle vent official web site.
  Author:      chikaxxx
  Copyright :  2015 vent.

----------------------------------------------------------------------------- */


//=============================================================================
//  Bourbon
//=============================================================================

@import "bourbon";

//=============================================================================
//  Font
//=============================================================================

@import url(http://fonts.googleapis.com/css?family=Lato:400italic);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

//=============================================================================
//  Utility
//=============================================================================

@import "_utility/normalize";

//=============================================================================
//  variables
//=============================================================================

@import "variables";

//=============================================================================
//  Styling
//=============================================================================

@import "modules";

@import "layout";

@import "partial";
